<%= render "layouts/components/header" %>
  <div id="product">
    <div class="wrp">
      <div id="filter">
        <div class="order">
          <div class="price">
            <span>Giá: </span>
            <div class="lstPrice">
              <ul>
                <li class="<% if params['price'] == '1' %> active <% end %>">
                  <%= link_to "Dưới 2 triệu", request.params.merge(price: 1) %>
                </li>

                <li class="<% if params['price'] == '2' %> active <% end %>">
                  <%= link_to "Từ 2 triệu - 5 triệu", request.params.merge(price: 2) %>
                </li>

                <li class="<% if params['price'] == '3' %> active <% end %>">
                  <%= link_to "Từ 5 triệu - 10 triệu", request.params.merge(price: 3) %>
                </li>

                <li class="<% if params['price'] == '4' %> active <% end %>">
                  <%= link_to "Từ 10 triệu - 25 triệu", request.params.merge(price: 4) %>
                </li>


                <li class="<% if params['price'] == '5' %> active <% end %>">
                  <%= link_to "Trên 50 triệu", request.params.merge(price: 5) %>
                </li>

                <li class="<% if params['sort'] == 'desc' %> active <% end %>">
                  <%= link_to "Giá cao xuống thấp", request.params.merge(sort: 'desc') %>
                </li>

                <li class="<% if params['sort'] == 'asc' %> active <% end %>">
                  <%= link_to "Giá thấp đến cao", request.params.merge(sort: 'asc') %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="group active">
        <% if @products %>
          <% @products.each do |product| %>
            <div class="item">
              <div class="wImage">
                <a href="/products/<%=product.pro_slug%>"
                  class="image">
                  <img src="https://www.dangquangwatch.vn/upload/product_small/dong-ho-nu-thoi-trang-621305513.jpg">
                </a>
              </div>
              <div class="info">
                <p>40mm | 5ATM | Sapphire</p>
                <%= link_to product.pro_name, product_path(product.pro_slug),slug: product.pro_slug, class: "name" %>

                <div class="price">
                  <p class="new"><%= number_to_currency(product.pro_price, unit: "") %> đ</p>
                </div>
                <div class="count">
                  <div class="bg" style="width: 62%"></div>
                  <span class="text">Còn lại <%= product.pro_amount %></span>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="text-center">
            <%= image_tag("no_result.jpg") %>
          </div>
        <% end %>
          <div class="box-footer">
            <%= will_paginate @products, renderer: @custom_renderer_paginate %>
          </div>
        </div>
      </div>
    </div>

  </div>
  <%= render "layouts/components/footer" %>
