<!DOCTYPE html>
<html lang="vi" xml:lang="vi">
<head>
    <!--CSS-->
    <title>{{ $title_page ?? 'Đồng hồ Thụy Sỹ, đồng hồ nam, đồng hồ nữ chính hãng cao cấp' }}</title>
    <link href="<%= asset_path '/view/css/display.min.css' %>" rel="stylesheet"/>
    <link href="<%= asset_path '/view/css/chat.css' %>" rel="stylesheet"/>
    <link href="<%= asset_path '/view/css/animate.min.css' %>" rel="stylesheet"/>
    <link href="<%= asset_path '/view/js/owl.carousel.min.css' %>" rel="stylesheet"/>
    <link href="<%= asset_path '/view/js/Lightbox/lightbox.min.css' %>" rel="stylesheet"/>
    <link href="<%= asset_path '/view/js/slick/slick.css' %>" rel="stylesheet"/>
    <link href="<%= asset_path '/view/css/Common.css' %>" rel="stylesheet"/>
    <!--CSS Responsive-->
    <link href="<%= asset_path '/view/css/css_rwd_common.css' %>" rel="stylesheet"/>
    <link href="<%= asset_path '/view/css/css_rwd.min.css' %>" rel="stylesheet"/>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <link href="<%= asset_path '/view/css/dqw.css' %>" rel="stylesheet"/>
    <link href="<%= asset_path '/view/css/news_css_rwd.css' %>" rel="stylesheet"/>
    <!-- toastr -->
    <link rel="stylesheet" href="<%= asset_path '/toastr/toastr.min.css' %>">
    <!-- jquery -->
    <script src="<%= asset_path '/view/js/jquery-1.9.1.min.js' %>"></script>

    <script src="<%= asset_path '/view/js/stv_new.js' %>"></script>
    <link rel="shortcut icon" href="https://www.dangquangwatch.vn/view/favicon.ico" type="image/x-icon"/>
        <script>
            var TYPE_MESSAGE = "{{session('toastr.type' %>";
            var MESSAGE = "{{session('toastr.message' %>";

        </script>
    <script>
        $(function () {
            $(".js-login").on('click', function (event) {
                event.preventDefault();
                toastr.warning('Bạn cần đăng nhập');
            })
            $(window).bind("load", function () {
                jQuery("#status").fadeOut();
                jQuery("#loader").fadeOut();
            });
        })
    </script>
</head>

<body>
<!-- Messenger Chat plugin Code -->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            xfbml: true,
            version: 'v10.0'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Your Chat plugin code -->
<div class="fb-customerchat"
     attribution="page_inbox"
     page_id="103980634638551">
</div>
<%# <div id='status'></div>
<div id='loader'></div> %>
<div id="commonHead">
    <div class="wrp">
        <h1 class="textLeft dnTablet-l">Đồng hồ nam, Đẳng cấp thương hiệu</h1>
        <form action="{{ route('get.product.index' %>" class="frmSearch" method="get">
            <div class="flex">
                <input type="text" name="keyword" id="keyword" value="<%= params[:keyword] %>"
                       placeholder="Nhập từ khóa tìm kiếm..."/>
                <button class="btnSearch"><i class="fa fa-search"></i></button>
            </div>
        </form>
        <ul class="menuRight dnTablet-l">
             <% if user_signed_in? %>
                <li><a href="{{ route('get.user.orders', ['status' => 0]) }}" title="Home">Đơn hàng</a></li>
                <li><a href="{{ route('get.user.index')}}"> <%= current_user.name %></a></li>
                <li><%= link_to 'Đăng xuất', destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></li>
            <% else %>
                <li><%= link_to "Đăng nhập", new_session_path('user') %></li>
                <li><%= link_to "Đăng ký", new_registration_path('user') %></li>
            <% end %>
        </ul>
    </div>
</div>
<div id="header">
    <div class="wrp">
        <a href="/" title="Home" class="logo">
            <%= image_tag 'logo.png', class: "logo", alt: "logo" %>
        </a>
        <div id="menuMain">
            <ul>
                <li class="hasChild">
                    <a href="javascript:" title="Đồng hồ chính hãng">Đồng hồ chính hãng</a>
                    <ul>
                        <li>
                            <div class="subMenu" style="width: 250px;">
                                <div class="group">
                                    <div class="item">
                                    <% if(@categories) %>
                                        <% @categories.each do |category| %>
                                            <% if (category.c_cate == "watch") %>
                                                <%= link_to category.c_name, category_path(category.c_slug),slug: category.c_slug %>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:" title="Kinh mat thoi trang">Kính mắt thời trang</a>
                    <ul>
                        <li>
                            <div class="subMenu" style="width: 250px;">
                                <div class="group">
                                    <div class="item">
                                    <% if(@categories) %>
                                        <% @categories.each do |category| %>
                                            <% if (category.c_cate == "glass") %>
                                                    <%= link_to category.c_name, category_path(category.c_slug),slug: category.c_slug %>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:" title="Phu kien dong ho">Phụ kiện đồng hồ</a>
                    <ul>
                        <li>
                            <div class="subMenu" style="width: 250px;">
                                <div class="group">
                                    <div class="item">
                                    <% if(@categories) %>
                                        <% @categories.each do |category| %>
                                            <% if (category.c_cate == "accessories") %>
                                                    <%= link_to category.c_name, category_path(category.c_slug),slug: category.c_slug %>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="right">
            <a href="tel:18006005" class="item">
                <span class="icon">
                    <img src="<%= asset_path '/view/img/hotline.png' %>" alt="Hotline"/>
                </span>
                <span class="text">
                    <span class="top">Hotline</span>
                    <span class="bot">1800 0000</span>
                </span>
            </a>
            <a href="{{ route('get.shopping.index')}}" class="btnCart">
                <i class="fa fa-shopping-cart"></i>
                <span class="number">{{  Cart::count() }}</span>
            </a>
        </div>
    </div>
</div>
